/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body {
    background: #f9f9f9;
    color: #333;
}

/* Container */
.container {
    width: 80%;
    margin: auto;
    text-align: auto;
    padding: 50px 0;
}

/* Header */
header {
    background: hsl(0, 0%, 90%);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    
    text-decoration: none;
    color: #000000ec;
    font-weight: bold;
    transition: all .5s ease;
    padding: 6px 10px;
}
nav ul li a:hover{
    border-radius: 4px;
    background-color: #ff8b07;
    box-shadow: 0 0 10px #f1d7d7;
    width: 20px;
    height: 20px;
}
.btn {
    background: #ff5733;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
/* Home section */
.home-content {
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.home-img img {
    width: 350px;
    height: auto;
    border-radius: 10px;
    border: 5px solid #ff5733;
}

.home-text {
    text-align: left;
    width: 50%;
}

.home-text h3 {
    color: #111;
    font-size: 26px;
}

/* About Section */
.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-img img {
    width: 350px;
    height: auto;
    border-radius: 10px;
    border: 5px solid #ff5733;
}

.about-text {
    text-align: left;
    width: 50%;
}

.about-text h3 {
    color: #111;
    font-size: 26px;
}
/*  Services Section */
.Services-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
   

}
.Services-content h3{
    display: flex;
    justify-content: center;
    padding: 20px;

}

    

.Services-text {
    text-align:bottom;
    width: 50%;
}

.Services-img img {
    width: 350px;
    border-radius: 10px;
    border: 5px solid #ff5733;
    
}
/* Contact Section */
.Contact-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Contact-text {
    text-align:left;
    width: 50%;

}

.Contact-img  {
    width: 350px;
    border-radius: 10px;
    border: 5px solid #ff5733;
    
}
/* Working Process Section */
.process-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.process-text {
    text-align:left;
    width: 50%;
}

.process-img img {
    width: 350px;
    border-radius: 10px;
    border: 5px solid #ff5733;
    
}
/* Projects Section */
.Projects-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Projects-text {
    text-align:left;
    width: 50%;
}

.Projects-img {
    width: 350px;
    height: 350px;
    
    border-radius: 10px;
    border: 5px solid #ff5733;
  
    
}

/* Statistics Section */
.stats {
    background: #222;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.stats-box {
    text-align:center;
}

.stats-box h3 {
    font-size: 30px;
    color: #ff5733;
}

/* Contact Section */
.contact {
    background: #000000;
    color: white;
    padding: 50px 0;
}

.contact {
    display: flex;
    margin: 10px;
    color: white;
    text-decoration:none;
}

/* Footer */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px 0;
}